/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.navbar {
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between logo and menu */
    transition: background-color 0.3s ease;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px; /* Space between the logo and the menu */
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.nav-link:hover {
    color: #ff6347;
    background-color: #444;
    border-radius: 5px;
}

.scrolled {
    background-color: #555;
}

.section {
    padding: 100px 20px;
    margin-top: 80px; /* Adjust margin to avoid overlap with fixed navbar */
    height: auto;
    text-align: center;
}

.section-image {
    max-width: 80%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
